.user-page {
  .avatar-icon-initial {
    height: 7vh;
    width: 7vh;
    min-width: 7vh;
    min-height: 7vh;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .up-user-card {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
  }
}
